<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="Contact.css">

    </head>
    <body>
        <div class="container">
            <h1>Connect With Us</h1>
            <div class="contact-box">
                <div class="contact-left">
                    <h3>Send your request</h3>
                    <form>
                        <div class="input-row">
                            <div class="input-group">
                                <label>First Name</label>
                                <input type="text" placeholder="">
                            </div>
                            <div class="input-group">
                                <label>Last name</label>
                                <input type="text" placeholder="">
                            </div>


                        </div>
                        <div class="input-row">
                            <div class="input-group">
                                <label>Email</label>
                                <input type="email" placeholder="">
                            </div>
                            <div class="input-group">
                                <label>Phone</label>
                                <input type="text" placeholder="">
                            </div>
                        </div>

                        <label>Message</label>
                        <textarea rows="5" placeholder="Yourmessage"></textarea>
                        <button type="submit">Send</button>
                    </form>
                </div>
                <div class="contact-right">
                    <h3>Reach Us</h3>

                    <table>
                        <tr>
                            <td>Email</td>
                            <td>contactus@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>+07774418796</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>Prince Street, Bristol BS1 4QF, United Kingdom</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>