<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/Signin.css" />
  </head>
  <body>
    <div class="login-box">
      <h1>Login</h1>
      <form method="POST" action="/authenticate">
        <label>Email</label>
        <input type="email" name ="email" placeholder="" />
        <label>Password</label> 
        <input type="password" name = "password"  placeholder="" />
        <a href=""><input type="submit" /></a>
      </form>
      <p>Not have an account? <a href="Signin.html">Sign in here</a></p>
    </div>
  </body>
</html>
